extends layout 

block layout-content 
    div.flexcontainer
        div.aboutwords
            div.abouttitle
                h2 About This Site 
            p Welcome to Bassil's Shoe Shop, where fashion meets comfort and style. We are dedicated to providing our customers with the latest and greatest footwear styles, while making sure they are comfortable to wear all day long.
            p We believe that shoes should not only be stylish, but also practical, and that is why we work hard to find the perfect balance between fashion and comfort in each of our products. With our wide range of styles and sizes, we have something for everyone. you'll find what you're looking for here.
            p We are passionate about shoes and it shows in the quality and care we put into every product we sell. From sourcing the finest materials to handcrafting each design, we make sure that every shoe we offer is made with attention to detail and love.
            p At Bassil's Shoe Shop, we believe that everyone should have access to high-quality footwear, no matter their budget. That is why we offer shoes at affordable prices without compromising on quality.
            p Thank you for choosing Bassil's Shoe Shop, where fashion, comfort, and affordability meet.
        img.aboutimg(src=" /img/vans.jpg")
