extends layout 

block layout-content 
    div.content
        h1#homepage Home Page
        img#heroimg(src="/img/vans.png")
        p Come buy some shoes from us!
        button#btn 
            a(href="/shop") Shop Now!
        p#btmp We guarantee you will find something you love
