
block variables 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title #{title}
    body 
        header#header
            h2#site-name
                a(href="/") Bassil's Shoe Shop
            nav#main-menu 
                ul 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/shop") Shop 
                    li 
                        a(href="/about") About 
        main
        block layout-content 

        footer#footer
            p#copyright &copy; Copyright Bassil Younes HTTP 5211, 2022.
